@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Roboto|Roboto+Condensed');

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  background: url('../3.__________________.png') no-repeat center top;
}


/* def */
.tm {
  /* max-width: 1440px; */
  margin: 0 auto;
}

.dop_w {
    min-width: 1256px;
}


/* header_line */
.header_line {
  background: #393939;
  color: #cbcbcb;
  font-size: 14px;
  /* line-height: 50px; */
  height: 50px;
}
.header_line ul {
    margin: 0 -15px;
}
.header_line ul.justify-content-end {
    margin: 0 -30px 0px 0px;
}
.header_line ul li {}
.header_line ul li a.status::before {
    text-decoration: underline;
    display: block;
    content: '';
    position: absolute;
    bottom: 16px;
    width: 75%;
    border-bottom: 1px dashed;
}
.header_line a {
    padding: 1.036em 1rem;
    font-size: 14px;
    color: #cbcbcb;
    position: relative;
}
.header_line a:hover {
  color: #cbcbcb;
}
.header_line a i {}
.header_line a.line {}
.header_line a.gren {
  color: #6fc461;
}
.header_line a.gren i {}
.header_line a.map-i i {
  color: #fbe940;
  margin-left: 5px;
}
